@font-face 
{ 
    font-family: "GilroyThin";
    src: url("../fonts/Gilroy-Light.otf") format("embedded-opentype"),
    url("../fonts/GilroyThin.woff") format("woff"),
    url("../fonts/GilroyThin.woff2") format("woff2"),
    url("../GilroyThin/GilroyThin.ttf") format("truetype");
    font-style: normal;
    font-weight: bolder;
}